<!-- Sidebar -->



<div id="sidebar-wrapper">
    <ul class="sidebar-nav" style="font-size: 14px;color: forestgreen;">
        <br>
        <li class="navbar-ymple" style="float:left;">
            <a href="/admin/new_template/"> <img src="/img/logo/marketme.png" alt="Smiley face" height="50" width="50"></a>
        </li>

        <li class="side">
            <a href="/admin/new_template/">Configuration</a>
        </li>

        <br>

        <li class="dropdown dropdown-submenu"><a href="/install"><i
                class="fa fa-cog" aria-hidden="true"></i>
            &nbsp;&nbsp;Step 1 Install Database
        </a>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-product-hunt" aria-hidden="true"></i>
                &nbsp;&nbsp;Product<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="/admin/product/create">New</a></li>
                <li><a style="color: forestgreen" href="/admin/product/list">Complete List</a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus-square" aria-hidden="true"></i>

                &nbsp;&nbsp;Category<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="/admin/category/create">New</a></li>
                <li><a style="color: forestgreen" href="/admin/category/list">Complete List</a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>


                &nbsp;&nbsp;Module
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">

                <!--li><a href="/admin/module/list/">Full List </a></li-->

                <li><a style="color: forestgreen" href="/admin/module/list/payment/">Payment</a></li>
                <li><a style="color: forestgreen" href="/admin/module/list/deliver/">Delivery</a></li>
                <li><a style="color: forestgreen" href="/admin/module/list/theme/">Theme</a></li>
                <li><a style="color: forestgreen" href="/admin/module/install/">Install Module</a></li>

                <li><a style="color: forestgreen" href="#/admin/module/search/">Search New Module</a></li>

                <!--li><a href="/admin/module/create">Install</a></li-->
                <!--li><a href="/admin/module/manage/">Manage</a></li-->

            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-shopping-cart" aria-hidden="true"></i>
                &nbsp;&nbsp;Orders<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="/admin/order/manage">Order</a></li>
                <li><a style="color: forestgreen" href="#">Abandoned Checkout</a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-users" aria-hidden="true"></i>
                &nbsp;&nbsp;Customers<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="/admin/customer/list">Customer</a></li>

            </ul>
        </li>

        <!--li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-line-chart" aria-hidden="true"></i>
                &nbsp;&nbsp;Analysis<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/admin/analysis/traffic">Traffic</a></li>
                <li><a href="/admin/analysis/search">Search</a></li>

            </ul>
        </li-->
        <!--li>
            <a href="/admin/module"><i class="fa fa-tasks" aria-hidden="true"></i>
                &nbsp;Module</a>
        </li-->
        <!--li>
            <a href="/admin/preference"><i class="fa fa-sliders" aria-hidden="true"></i>
                </i> &nbsp;Preferences</a>
        </li-->





        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-cog" aria-hidden="true"></i>
                &nbsp;&nbsp;Notification<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="#/admin/notification/configuration/">&nbsp;CONFGURATION</a></li>

                <!--li><a href="/admin/user/list">&nbsp;Users</a></li-->
            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-area-chart" aria-hidden="true"></i>
                &nbsp;&nbsp;Statistics<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="#/admin/stat/dashboard">&nbsp;DASHBOARD</a></li>
                <li><a style="color: forestgreen" href="#/admin/stat/report">&nbsp;REPORT</a></li>
            </ul>
        </li>




        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                &nbsp;&nbsp;Mobile / Api <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="/admin/mobile/api_token/">&nbsp;Configuration Api / Token </a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-cog" aria-hidden="true"></i>
                &nbsp;&nbsp;Setting<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="color: forestgreen" href="#">&nbsp;GENERAL</a></li>
                <li><a style="color: forestgreen" href="#">&nbsp;PAYMENT</a></li>
                <li><a style="color: forestgreen" href="#">&nbsp;DEMO MODE</a></li>
                <li><a style="color: forestgreen" href="#">&nbsp;LANGUAGE</a></li>

                <li><a style="color: forestgreen" href="/admin/administrator/edit/">&nbsp;PROFILE</a></li>


                <!--li><a href="/admin/user/list">&nbsp;Users</a></li-->
            </ul>
        </li>

        <li>
            <a href="/admin/new_template/"> <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;New Template Backend</a>
        </li>

        <li>
            <a href="/admin/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
