<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Marketmeup</title>

    <!-- Bootstrap Core CSS -->
    <!-- switch to bootstrap 3.3.7-->

    <link href="/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">

    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">

    <!--link href="/styles/dependencies/bootstrap.min.css" rel="stylesheet"-->

    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

    <!-- include font awesome -->
    <link href="/styles/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/tether.js"></script>
    <script src="/js/dependencies/ymple.js"></script>

    <!-- other library js-->
    <script src="/lib/dropzone/dropzone.js"></script>
    <link href="/lib/dropzone/dropzone.css" rel="stylesheet">

    <!-- switch to bootstrap 3.3.7-->

    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <!--script src="/js/bootstrap.js"></script-->

    <!-- Bootstrap Core JavaScript -->

    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script-->
    <!--script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script-->
    <!--link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"-->

    <!--script src="/js/bootstrap.js"></script-->

    <!--script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script-->
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</head>
