<%- include ../commun-back/head-back.ejs %>

<br>

<div class="container" >

    <!--style="background-color: #cccccc;"-->
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to Administration Panel</h1>
            <div class="account-wall">
                <img class="profile-img" src="/img/logo/marketme.png"
                     alt="">
                <form class="form-signin" action="/admin/login_validation" method="post">
                    <input name="email" type="text" class="form-control" placeholder="Email" required autofocus>
                    <input name ="password" type="password" class="form-control" placeholder="Password" required>

                    <%if (typeof demoMode == 'undefined'){ %>

                    <p>Default Credential<br> Email: admin@admin.com, Pass: admin </p>

                    <%}else{%>

                    <p>Demo Credential<br> Email: admin@admin.com, Pass: admin<br>
                        <span style="color: red;">On Demo you will not be able to modify product</span></p>

                    <%}%>


                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <!--a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span-->
                </form>
            </div>
            <!--a href="#" class="text-center new-account">Create an account </a-->
        </div>
    </div>
</div>


