<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="{{ sails.config.project.author }}">
    <!--meta name="description" content="{{ sails.config.project.description }}"-->

    <meta name="description" content="Marketmeup, open source , ecommerce, e-commerce, sails.js, node.js">
    <meta name="keywords" content="marketmeup, ecommerce, e-commerce, node.js,sailsjs, Nodejs, Sailsjs">

    <title></title>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!--STYLES-->    <link href="/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">


    <link href="/css/simple-sidebar.css" rel="stylesheet">

    <link href="/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dependencies/basic.css">
    <link rel="stylesheet" href="/styles/dependencies/bootstrapValidator.min.css">
    <link rel="stylesheet" href="/styles/dependencies/carousel.css">
    <link rel="stylesheet" href="/styles/dependencies/dropzone.css">
    <link rel="stylesheet" href="/styles/dependencies/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/dependencies/ymple.css">

    <script src="/js/dependencies/jquery-2.1.1.min.js"></script>

    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="/css/bootstrap-toggle.min.css" rel="stylesheet">


    <script src="/js/bootstrap-toggle.min.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <!--STYLES END-->
</head>

<body>

<!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

<!--TEMPLATES-->

<!--TEMPLATES END-->


<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery-2.1.1.min.js"></script>
<script src="/js/dependencies/additional-methods.min.js"></script>
<!--script src="/js/dependencies/bootstrap.min.js"></script-->
<script src="/js/dependencies/dropzone.min.js"></script>
<script src="/js/dependencies/icheck.min.js"></script>
<script src="/js/dependencies/jquery.fs.selecter.min.js"></script>
<script src="/js/dependencies/jquery.fs.stepper.min.js"></script>
<script src="/js/dependencies/jquery.ui.widget.js"></script>
<script src="/js/dependencies/jquery.validate.min.js"></script>
<script src="/js/dependencies/language/de_DE.js"></script>
<script src="/js/dependencies/language/en_US.js"></script>
<script src="/js/dependencies/language/es_CL.js"></script>
<script src="/js/dependencies/language/hu_HU.js"></script>
<script src="/js/dependencies/language/ko_KR.js"></script>
<script src="/js/dependencies/language/vi_VN.js"></script>
<script src="/js/dependencies/language/zh_CN.js"></script>
<script src="/js/dependencies/language/zh_TW.js"></script>
<script src="/js/dependencies/ymple.js"></script>
<!--SCRIPTS END-->

<% if (sails.config.project.analytics.hasOwnProperty('id')) {%>

<% } %>
</body>
</html>
