

<link href="/css/preload-ymple.css" rel="stylesheet">

<!--link href="/css/vendors-ymple.css" rel="stylesheet"-->
<link href="/css/syntaxhighlighter/shCore.css" rel="stylesheet" >

<link href="/css/style-blue-ymple.css" rel="stylesheet" title="default">
<link href="/css/width-full-ymple.css" rel="stylesheet" title="default">



<section class="section-white">
    <div class="container">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/images/6-920x399.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>Mechanized Farming</h2>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/A-group-of-women-working-on-a-ginger-farm.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>Women doing what they know best </h2>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/Agriculture-women-with-cabbage-or-leek-harvest.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>Harvest on Cabbage</h2>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>
</section>

<br>




<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="ec-filters-menu">
                <h3 class="section-title no-margin-top">Filters</h3>
                <h4>Select Category</h4>
                <ul>
                    <li><a href="javascript:void(0);" class="filter" data-filter="all">All</a></li>
                    <li><a href="javascript:void(0);" class="filter" data-filter=".category-smartphone">Tomatoe</a></li>
                    <li><a href="javascript:void(0);" class="filter" data-filter=".category-tv">Yam</a></li>
                    <li><a href="javascript:void(0);" class="filter" data-filter=".category-keyboard">Potatoe</a></li>
                    <li><a href="javascript:void(0);" class="filter" data-filter=".category-graphic">Beans & Groundnut</a></li>
                </ul>
                <h4>Order by</h4>
                <ul>
                    <li><a href="javascript:void(0);" class="sort" data-sort="price:asc">Price: Low to High</a></li>
                    <li><a href="javascript:void(0);" class="sort" data-sort="price:desc">Price: High to Lo</a></li>
                    <li><a href="javascript:void(0);" class="sort" data-sort="popularity:desc">Most Popular</a></li>
                    <li><a href="javascript:void(0);" class="sort" data-sort="date:desc">Release Date</a></li>
                </ul>
            </div>
            <h3 class="section-title">Latest Farm Produce</h3>
            <div class="bxslider-controls">
                <span id="bx-prev5"></span>
                <span id="bx-next5"></span>
            </div>
            <ul class="bxslider" id="offers">
                <li>
                    <div class="ec-box">
                        <div class="ec-box-header"><a href="#">2-hecter of Rice Farm</a></div>
                        <a href="#"><img src="/images/Agriculture.jpg" alt=""></a>
                        <div class="ec-box-footer">
                            <span class="label label-primary">N 2,500.000</span>
                            <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ec-box">
                        <div class="ec-box-header"><a href="#">Fresh Vagetables for sale</a></div>
                        <a href="#"><img src="/images/freshvagetable.jpg" alt=""></a>
                        <div class="ec-box-footer">
                            <span class="label label-primary">N 2000 per Basket</span>
                            <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ec-box">
                        <div class="ec-box-header"><a href="#">1-hecter of Cassava</a></div>
                        <a href="#"><img src="/images/nigerian-farmers.jpg" alt=""></a>
                        <div class="ec-box-footer">
                            <span class="label label-primary">N 650,000</span>
                            <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>






        <%- include item.ejs %>








    </div>
</div> <!-- container -->



<link href="/css/preload-ymple.css" rel="stylesheet">

<!-- Compiled in vendors.js -->
<!--
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-switch.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/animate.min.css" rel="stylesheet">
<link href="/css/slidebars.min.css" rel="stylesheet">
<link href="/css/lightbox.css" rel="stylesheet">
<link href="/css/jquery.bxslider.css" rel="stylesheet" />
<link href="/css/buttons.css" rel="stylesheet">
-->

<link href="/css/vendors-ymple.css" rel="stylesheet">

<script src="/js/vendors-ymple.js"></script>

<!--script src="/js/styleswitcher-ymple.js"></script-->

<!-- Syntaxhighlighter -->
<script src="/js/syntaxhighlighter/shCore.js"></script>
<script src="/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="/js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="/js/app-ymple.js"></script>
<script src="/js/commerce-ymple.js"></script>

