<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Artificial Reason</title>

    <link rel="shortcut icon" href="/img/logo/marketme.png" />

    <meta name="description" content="">

    <!-- CSS -->
    <link href="/css/preload-ymple.css" rel="stylesheet">

    <!-- Compiled in vendors.js -->
    <!--
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/slidebars.min.css" rel="stylesheet">
    <link href="/css/lightbox.css" rel="stylesheet">
    <link href="/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="/css/buttons.css" rel="stylesheet">
    -->

    <link href="/css/vendors-ymple.css" rel="stylesheet">
    <link href="/css/syntaxhighlighter/shCore.css" rel="stylesheet" >

    <link href="/css/style-blue-ymple.css" rel="stylesheet" title="default">
    <link href="/css/width-full-ymple.css" rel="stylesheet" title="default">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>

<div id="theme-options" class="hidden-xs">
    <div id="body-options">

        <div>
            <h2>Header Style</h2>
            <form id="header-option">
                <div class="radio">
                    <input type="radio" name="headerRadio" id="header-full-radio" value="header-full" checked>
                    <label for="header-full-radio">Light Header</label>
                </div>
                <div class="radio">
                    <input type="radio" name="headerRadio" id="header-full-dark-radio" value="header-full-dark">
                    <label for="header-full-dark-radio">Dark Header</label>
                </div>
                <div class="radio">
                    <input type="radio" name="headerRadio" id="no-header-radio" value="no-header">
                    <label for="no-header-radio">No Header (Navbar mode)</label>
                </div>
            </form>
        </div>
        <div>
            <h2>Navbar Style</h2>
            <form id="navbar-option">
                <div class="radio">
                    <input type="radio" name="navbarRadio" id="navbar-light-radio" value="navbar-light">
                    <label for="navbar-light-radio">Light Color</label>
                </div>
                <div class="radio">
                    <input type="radio" name="navbarRadio" id="navbar-dark-radio" value="navbar-dark" checked>
                    <label for="navbar-dark-radio">Dark Color</label>
                </div>
                <div class="radio">
                    <input type="radio" name="navbarRadio" id="navbar-inverse-radio" value="navbar-inverse">
                    <label for="navbar-inverse-radio">Primary Color</label>
                </div>
            </form>
        </div>
        <div id="width-options">
            <h2>Container Selector</h2>
            <div class="btn-group">
                <form>
                    <input type="checkbox" name="full-width-checkbox" data-label-width="80" data-label-text="Full Width" checked>
                </form>
            </div>
        </div>
    </div>
    <div id="icon-options">
        <i class="fa fa-gears fa-2x fa-flip-horizontal"></i>
    </div>
</div>
<div id="sb-site">
    <div class="boxed">

        <header id="header-full-top" class="hidden-xs header-full">
            <div class="container">
                <div class="header-full-title">
                    <h1 class="animated fadeInRight"><a href="index.html">artificial <span>reason</span></a></h1>
                    <p class="animated fadeInRight">Clean and elegant theme</p>
                </div>
                <nav class="top-nav">
                    <ul class="top-nav-social hidden-sm">
                        <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-9 instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-8 vine"><i class="fa fa-vine"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="animated fadeIn animation-delay-6 flickr"><i class="fa fa-flickr"></i></a></li>
                    </ul>

                    <div class="dropdown animated fadeInDown animation-delay-11">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                            <form role="form">
                                <h4>Login Form</h4>

                                <div class="form-group">
                                    <div class="input-group login-input">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                    <br>
                                    <div class="input-group login-input">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="checkbox pull-left">
                                        <input type="checkbox" id="checkbox_remember1">
                                        <label for="checkbox_remember1">
                                            Remember me
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- dropdown -->

                    <div class="dropdown animated fadeInDown animation-delay-13">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-ar btn-primary" type="button">Go!</button>
                            </span>
                                </div><!-- /input-group -->
                            </form>
                        </div>
                    </div> <!-- dropdown -->
                </nav>
            </div> <!-- container -->
        </header> <!-- header-full -->
        <nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">Artificial <span>Reason</span></a>
                </div> <!-- navbar-header -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="pull-right">
                    <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="index.html">Option 1: Default</a></li>
                                <li><a href="home_services.html">Option 2: Services</a></li>
                                <li><a href="home_full.html">Option 3: Full Intro</a></li>
                                <li><a href="home_only_full.html">Option 4: Only Full Intro</a></li>
                                <li><a href="home_news.html">Option 5: News</a></li>
                                <li><a href="home_profile.html">Option 6: Professional Profile</a></li>
                                <li><a href="home_plan.html">Option 7: Subscribe</a></li>
                                <li role="presentation" class="dropdown-header">New Home Pages 1.4</li>
                                <li><a href="home_polygon.html">Option 8: Product <span class="label label-success pull-right">New</span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown yamm-fw">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">UI Elements</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                                <div class="megamenu-block">
                                                    <h4 class="megamenu-block-title"><i class="fa fa-css3"></i> CSS</h4>
                                                    <ul>
                                                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                                                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                                                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                                                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                                                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                                                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                                                    </ul>
                                                </div>
                                                <div class="megamenu-block">
                                                    <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> Buttons</h4>
                                                    <ul>
                                                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                                                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library <span class="label label-info pull-right">Update</span></a></li>
                                                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                                <div class="megamenu-block">
                                                    <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> Icons</h4>
                                                    <ul>
                                                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                                                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                                                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                                                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                                                    </ul>
                                                </div>
                                                <div class="megamenu-block">
                                                    <h4 class="megamenu-block-title"><i class="fa fa-star"></i> New in 1.4</h4>
                                                    <ul>
                                                        <li><a href="components_cards.html"><i class="fa fa-user"></i> Profile Cards <span class="label label-success pull-right">New</span></a></li>
                                                        <li><a href="components_counters.html"><i class="fa fa-sort-numeric-asc"></i> Counters <span class="label label-success pull-right">New</span></a></li>
                                                        <li><a href="components_navtabs.html"><i class="fa fa-columns"></i> Navbar Tabs <span class="label label-success pull-right">New</span></a></li>
                                                        <li><a href="components_masonry.html"><i class="fa fa-th"></i> Masonry Layer <span class="label label-success pull-right">New</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                                <div class="megamenu-block">
                                                    <h4 class="megamenu-block-title"><i class="fa fa-list-alt"></i> Components</h4>
                                                    <ul>
                                                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                                                        <li><a href="components_panels.html"><i class="fa fa-columns"></i> Panels</a></li>
                                                        <li><a href="components_lists.html"><i class="fa fa-list-ul"></i> Lists</a></li>
                                                        <li><a href="components_paginations.html"><i class="fa fa-sort-numeric-asc"></i> Paginations</a></li>
                                                        <li><a href="components_labels_badges.html"><i class="fa fa-flag-o"></i> Labels and Badges</a></li>
                                                        <li><a href="components_alerts_wells.html"><i class="fa fa-info-circle"></i> Alerts and Wells</a></li>
                                                        <li><a href="components_thumbnails.html"><i class="fa fa-picture-o"></i> Thumbnails</a></li>
                                                        <li><a href="components_modals.html"><i class="fa fa-square"></i> Modals</a></li>
                                                        <li><a href="components_progress_bars.html"><i class="fa fa-bars"></i> Progress Bars</a></li>
                                                        <li><a href="components_tooltip_popover.html"><i class="fa fa-bullhorn"></i> Tooltip &amp; Popover</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                                <div class="megamenu-block">
                                                    <h4 class="megamenu-block-title"><i class="fa fa-flag"></i> Extra Elements</h4>
                                                    <ul>
                                                        <li><a href="collapses_tabs.html"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                                                        <li><a href="components_vertical_tabs.html"><i class="fa fa-tasks"></i> Vertical Tabs <span class="label label-success pull-right">New</span></a></li>
                                                        <li><a href="components_switch.html"><i class="fa fa-toggle-on"></i> Switch Controls <span class="label label-success pull-right">New</span></a></li>
                                                        <li><a href="content_box.html"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                                                        <li><a href="carousels.html"><i class="fa fa-play-circle"></i> Carousels</a></li>
                                                        <li><a href="charts.html"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
                                                        <li><a href="components_masonry.html"><i class="fa fa-th"></i> Masonry Layer <span class="label label-success pull-right">New</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">About us &amp; Team</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_about.html">About us Option 1</a></li>
                                        <li><a href="page_about2.html">About us Option 2</a></li>
                                        <li><a href="page_about3.html">About us &amp; Team</a></li>
                                        <li class="divider"></li>
                                        <li><a href="page_team.html">Our Team Option 1</a></li>
                                        <li><a href="page_team2.html">Our Team Option 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Form</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_contact.html">Contact Option 1</a></li>
                                        <li><a href="page_contact2.html">Contact Option 2</a></li>
                                        <li class="divider"></li>
                                        <li><a href="page_login.html">Login Integrated</a></li>
                                        <li><a href="page_login_full.html">Login Full Page</a></li>
                                        <li class="divider"></li>
                                        <li><a href="page_login_register.html">Login and Register</a></li>
                                        <li><a href="page_register.html">Register Option 1</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Profiles</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_profile.html">User Profile Option 1</a></li>
                                        <li><a href="page_profile2.html">User Profile Option 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Error</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_404.html">Error 404 Full Page</a></li>
                                        <li><a href="page_404_2.html">Error 404 Integrated</a></li>
                                        <li><a href="page_500.html">Error 500 Full Page</a></li>
                                        <li><a href="page_500_2.html">Error 500 Integrated</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Bussiness &amp; Products</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_testimonial.html">Testimonials</a></li>
                                        <li><a href="page_clients.html">Our Clients</a></li>
                                        <li><a href="page_product.html">Products</a></li>
                                        <li><a href="page_services.html">Services</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Pricing</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_pricing.html">Pricing Box</a></li>
                                        <li><a href="page_pricing-mega.html">Pricing Mega Table</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">FAQ &amp; Support</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_support.html">Support Center</a></li>
                                        <li><a href="page_faq.html">FAQ Option 1</a></li>
                                        <li><a href="page_faq2.html">FAQ Option 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_coming.html">Coming Soon Option 1</a></li>
                                        <li><a href="page_coming2.html">Coming Soon Option 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Timeline</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="page_timeline_left.html">Timeline Left</a></li>
                                        <li><a href="page_timeline.html">Timeline Center</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="blog.html">Blog Right Sidebar</a></li>
                                <li><a href="blog_left.html">Blog Left Sidebar</a></li>
                                <li><a href="blog_full.html">Blog Full</a></li>
                                <li><a href="blog_masonry.html">Blog Masonry <span class="label label-success pull-right">New</span></a></li>
                                <li><a href="blog2.html">Other Option</a></li>
                                <li class="divider"></li>
                                <li><a href="single.html">Blog Item</a></li>
                                <li><a href="single_full.html">Blog Item Full</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">E-commerce</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="e-commerce_home.html">E-commerce Home</a></li>
                                <li><a href="e-commerce.html">E-commerce Filters</a></li>
                                <li><a href="e-commerce_product.html">Product</a></li>
                                <li><a href="e-commerce_cart.html">Cart</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="portfolio_sidebar.html">Portfolio sidebar filters</a></li>
                                <li><a href="portfolio_topbar.html">Portfolio topbar filters</a></li>
                                <li><a href="portfolio_caption_hover.html">Portfolio with captions</a></li>
                                <li class="divider"></li>
                                <li><a href="portfolio_item.html">Portfolio item</a></li>
                                <li><a href="portfolio_item_devices.html">Portfolio item device</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- navbar-collapse -->
            </div><!-- container -->
        </nav>

        <section class="carousel-section-e">
            <div id="carousel-example-generic" class="carousel carousel-e slide" data-ride="carousel" data-interval="50000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/img/demo/e-mac.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-7">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                            <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">iMac 27" Core i7 3,4 GHz</h1>
                                            <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Special Offer: 15% discount</h2>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>3.4GHz quad-core Intel Core i7</li>
                                                <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>8GB (two 4GB) memory</li>
                                                <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>1TB hard drive</li>
                                            </ul>
                                            <br>
                                            <p class="animated fadeInUpBig animation-delay-17"><span class="price-box">$1,999.00</span><a href="#" class="btn btn-ar btn-transparent btn-lg"><i class="fa fa-shopping-cart"></i> Purchase</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-7">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                            <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Macbook Pro 15" Core i5 2,6 GHz</h1>
                                            <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Special Offer: 15% discount</h2>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>2,6GHz quad-core Intel Core i5</li>
                                                <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>16GB (two 8GB) memory</li>
                                                <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>512 SSD hard drive</li>
                                            </ul>
                                            <br>
                                            <p class="animated fadeInUpBig animation-delay-17"><span class="price-box">$2,599.00</span><a href="#" class="btn btn-ar btn-transparent btn-lg"><i class="fa fa-shopping-cart"></i> Purchase</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/img/demo/e_macbook.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-7">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                            <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Iphone 5C 8 GB</h1>
                                            <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Special Offer: 15% discount</h2>
                                            <ul class="list-unstyled carousel-list">
                                                <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>For the colorful</li>
                                                <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>IOS 7</li>
                                                <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>8 GB Model </li>
                                            </ul>
                                            <br>
                                            <p class="animated fadeInUpBig animation-delay-17"><span class="price-box">$2,599.00</span><a href="#" class="btn btn-ar btn-transparent btn-lg"><i class="fa fa-shopping-cart"></i> Purchase</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-5 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/img/demo/e_iphonec.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </section> <!-- carousel -->

        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="ec-filters-menu">
                        <h3 class="section-title no-margin-top">Filters</h3>
                        <h4>Select Category</h4>
                        <ul>
                            <li><a href="javascript:void(0);" class="filter" data-filter="all">All</a></li>
                            <li><a href="javascript:void(0);" class="filter" data-filter=".category-smartphone">Smaprtphones</a></li>
                            <li><a href="javascript:void(0);" class="filter" data-filter=".category-tv">Smart TV</a></li>
                            <li><a href="javascript:void(0);" class="filter" data-filter=".category-keyboard">Keyboards</a></li>
                            <li><a href="javascript:void(0);" class="filter" data-filter=".category-graphic">Graphics Cards</a></li>
                        </ul>
                        <h4>Order by</h4>
                        <ul>
                            <li><a href="javascript:void(0);" class="sort" data-sort="price:asc">Price: Low to High</a></li>
                            <li><a href="javascript:void(0);" class="sort" data-sort="price:desc">Price: High to Lo</a></li>
                            <li><a href="javascript:void(0);" class="sort" data-sort="popularity:desc">Most Popular</a></li>
                            <li><a href="javascript:void(0);" class="sort" data-sort="date:desc">Release Date</a></li>
                        </ul>
                    </div>
                    <h3 class="section-title">Latest Offers</h3>
                    <div class="bxslider-controls">
                        <span id="bx-prev5"></span>
                        <span id="bx-next5"></span>
                    </div>
                    <ul class="bxslider" id="offers">
                        <li>
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Bq Aquaris 5 16GB White</a></div>
                                <a href="#"><img src="/img/demo/e_img03.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 249.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">LG 55LA620S 55" LED 3D</a></div>
                                <a href="#"><img src="/img/demo/e_img07.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 999.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Iphone 5S</a></div>
                                <a href="#"><img src="/img/demo/e_img01.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 649.00</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row" id="Container">
                        <div class="col-sm-4 mix category-smartphone" data-price="64900" data-date="20130521" data-popularity="3">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Iphone 5S</a></div>
                                <a href="#"><img src="/img/demo/e_img01.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 649.00</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-keyboard" data-price="4999" data-date="20130421" data-popularity="8">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Keyboard Pro Game</a></div>
                                <a href="#"><img src="/img/demo/e_img02.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 49.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-smartphone" data-price="24999" data-date="20121409" data-popularity="7">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Bq Aquaris 5 16GB White</a></div>
                                <a href="#"><img src="/img/demo/e_img03.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 249.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-smartphone" data-price="9995" data-date="20130521" data-popularity="10">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Doogee Voyager DG300 Black</a></div>
                                <a href="#"><img src="/img/demo/e_img04.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 99.95</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-graphic" data-price="22400" data-date="20111225" data-popularity="9">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Gigabyte GeForce GTX 660</a></div>
                                <a href="#"><img src="/img/demo/e_img05.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 224.00</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-smartphone" data-price="49999" data-date="20140102" data-popularity="12">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Google Nexus 5 16GB Black</a></div>
                                <a href="#"><img src="/img/demo/e_img06.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 499.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-tv" data-price="99999" data-date="20121124" data-popularity="5">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">LG 55LA620S 55" LED 3D</a></div>
                                <a href="#"><img src="/img/demo/e_img07.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 999.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-smartphone" data-price="42565" data-date="20100907" data-popularity="15">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">LG G2 16GB Black</a></div>
                                <a href="#"><img src="/img/demo/e_img08.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 425.65</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-smartphone" data-price="22900" data-date="20140831" data-popularity="8">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Motorola Moto G 8GB</a></div>
                                <a href="#"><img src="/img/demo/e_img09.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 229.00</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-tv" data-price="40000" data-date="20140415" data-popularity="9">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Samsung UE40F5000 40" LED</a></div>
                                <a href="#"><img src="/img/demo/e_img10.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 400.00</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-smartphone" data-price="69999" data-date="20140309" data-popularity="10">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Samsung Galaxy S5</a></div>
                                <a href="#"><img src="/img/demo/e_img11.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 699.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-smartphone" data-price="49999" data-date="20140515" data-popularity="9">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Sony Xperia Z1 16GB Black</a></div>
                                <a href="#"><img src="/img/demo/e_img12.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 499.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-tv" data-price="149999" data-date="20120710" data-popularity="17">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">LG 32LN540B 32" LED</a></div>
                                <a href="#"><img src="/img/demo/e_img13.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 1499.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-tv" data-price="229999" data-date="20140810" data-popularity="57">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">LG 32LN5400 32" LED</a></div>
                                <a href="#"><img src="/img/demo/e_img14.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 2299.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-keyboard" data-price="2799" data-date="20140610" data-popularity="11">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Tacens Mars Gaming MK1</a></div>
                                <a href="#"><img src="/img/demo/e_img15.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 27.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-keyboard" data-price="10989" data-date="20140610" data-popularity="14">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Genesis RX22 Keyboard </a></div>
                                <a href="#"><img src="/img/demo/e_img16.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 109.89</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-tv" data-price="89999" data-date="20140110" data-popularity="7">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">Samsung 40F6400 40" LED 3D</a></div>
                                <a href="#"><img src="/img/demo/e_img17.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 899.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mix category-keyboard" data-price="8999" data-date="20100321" data-popularity="12">
                            <div class="ec-box">
                                <div class="ec-box-header"><a href="#">B-Move Pro Gaming Pack</a></div>
                                <a href="#"><img src="/img/demo/e_img18.jpg" alt=""></a>
                                <div class="ec-box-footer">
                                    <span class="label label-primary">$ 89.99</span>
                                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container -->

        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-widget-title">Sitemap</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="portfolio_sidebar.html">Portafolio</a></li>
                            <li><a href="portfolio_topvar.html">Works</a></li>
                            <li><a href="page_timeline_left.html">Timeline</a></li>
                            <li><a href="page_pricing.html">Pricing</a></li>
                            <li><a href="page_about2.html">About Us</a></li>
                            <li><a href="page_team.html">Our Team</a></li>
                            <li><a href="page_services.html">Services</a></li>
                            <li><a href="page_support.html">FAQ</a></li>
                            <li><a href="page_login_full.html">Login</a></li>
                            <li><a href="page_contact.html">Contact</a></li>
                        </ul>
                        <h3 class="footer-widget-title">Subscribe</h3>
                        <p>Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                    </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Recent Post</h3>
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="/img/demo/m2.jpg" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a></h4>
                                    <small>August 18, 2013</small>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="/img/demo/m11.jpg" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Lorem ipsum dolor excepteur sunt in lorem ipsum cillum tempor</a></h4>
                                    <small>September 14, 2013</small>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="/img/demo/m4.jpg" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Lorem ipsum Dolor cupidatat minim adipisicing et fugiat</a></h4>
                                    <small>October 9, 2013</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Recent Works</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="#" class="thumbnail"><img src="/img/demo/wf1.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="#" class="thumbnail"><img src="/img/demo/wf2.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="#" class="thumbnail"><img src="/img/demo/wf3.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="#" class="thumbnail"><img src="/img/demo/wf4.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </aside> <!-- footer-widgets -->
        <footer id="footer">
            <p>&copy; 2014 <a href="#">Artificial Reason</a>, inc. All rights reserved.</p>
        </footer>

    </div> <!-- boxed -->
</div> <!-- sb-site -->

<div class="sb-slidebar sb-right">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div><!-- /input-group -->

    <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
    <ul class="slidebar-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="portfolio_topbar.html">Portfolio</a></li>
        <li><a href="page_about3.html">About us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="page_contact.html">Contact</a></li>
    </ul>

    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
        <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
        <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="social-icon-ar wordpress"><i class="fa fa-wordpress"></i></a>
        <a href="#" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-icon-ar flickr"><i class="fa fa-flickr"></i></a>
        <a href="#" class="social-icon-ar vine"><i class="fa fa-vine"></i></a>
        <a href="#" class="social-icon-ar dribbble"><i class="fa fa-dribbble"></i></a>
    </div>
</div> <!-- sb-slidebar sb-right -->
<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- Scripts -->
<!-- Compiled in vendors.js -->
<!--
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-switch.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/slidebars.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/holder.js"></script>
<script src="/js/buttons.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/circles.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.matchHeight-min.js"></script>
-->

<script src="/js/vendors-ymple.js"></script>

<!--script src="/js/styleswitcher-ymple.js"></script-->

<!-- Syntaxhighlighter -->
<script src="/js/syntaxhighlighter/shCore.js"></script>
<script src="/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="/js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="/js/app-ymple.js"></script>
<script src="/js/commerce-ymple.js"></script>

</body>

</html>


