<style>
  li {
    list-style: none;
  }
</style>

<div class="site-footer">
  <div class="container">
    <hr class="dashed">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>New Shop</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>Contact Us</p>
      </div>

    </div>

    <hr class="dashed">
    <div class="copyright clearfix">
      <p>©<a href="#" target="_blank">Marketmeup</a> Some rights reserved.</p>
    </div>
  </div>
</div>

<!--div class="navbar navbar-fixed-bottom hidden-xs">
  <!--div class="col-md-12">
    <span class="pull-right" style="padding-top: 20px;">v<%= sails.config.project.version %> <%= sails.config.project.author %> © <%= sails.config.project.year %></span>
  </div-->
<!--/div-->
